import collections
class Solution:
    def groupAnagrams(self, strs: List[str]) -> List[List[str]]:
        str = []
        for i in strs:
            a = list(i)
            a.sort()
            a = "".join(a)
            str.append(a)    
        f = {}
        for i in range(len(str)):
            if str[i] not in f:
                f[str[i]] = [strs[i]]

            else:
                f[str[i]]+=[strs[i]]
        l=[]
        for i in f:
            l.append(f.get(i))
        return l   
